@media(max-width: 1200px) {
	.fixed {
		max-width: 1060px;
	}

	.item-info {
		padding: 0 16px;
	}
}

@media(max-width: 1100px) {
	:root {
		--header: 56px;
	}

	#wrap {
		min-width: 350px;
	}

	.header .nav,
	.header .login,
	.header .mini-profile {
		display: none;
	}

	.header .menu {
		background: 0;
		height: auto;
		border-radius: 0;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		gap: 16px;
	}

	.header .menu a {
		gap: 0;
		height: auto;
		padding: 0;
		border-radius: 0;
		font-weight: 400;
		font-size: 16px;
	}

	.header .menu a svg {
		display: none;
	}

	.menu a.active {
		background: 0 !important;
	}

	.fixed {
		padding-left: 16px;
		padding-right: 16px;
	}

	.menu-mobile {
		cursor: pointer;
		width: 24px;
		height: 24px;
		position: relative;
		//margin-left: auto;
	}

	.menu-mobile:after,
	.menu-mobile:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-repeat: no-repeat;
		background-position: center;
		content: '';
		transition: opacity var(--transition), transform var(--transition);
	}

	.menu-mobile:after {
		background-image: url(../images/menu.svg);
	}

	.menu-mobile:before {
		background-image: url(../images/close.svg);
		opacity: 0;
		z-index: 1;
	}

	.menu-overlay {
		position: fixed;
		top: var(--header);
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1100;
		background: rgba(14, 16, 22, 0.80);
		display: none;
	}

	.menu-ajax {
		display: none;
		background: #13151d;
		width: 225px;
		position: fixed;
		top: var(--header);
		right: 0;
		bottom: 0;
		z-index: 1101;
		padding: 16px;
		flex-direction: column;
	}

	.menu-ajax .login {
		margin-top: auto;
		justify-content: center;
		background: 0;
		height: auto;
		border-radius: 0;
		padding: 0;
	}

	.menu-ajax .login a {
		width: 100%;
		justify-content: center;
		text-align: center;
	}

	.menu-ajax .Profile-bg_Your_Link {
		margin-bottom: 32px;
	}

	.menu-ajax .Profile-bg_Your_Link .nth-1 {
		max-width: 120px !important;
	}

	.menu-ajax .Profile-Balance_rub {
		margin-left: 4px;
	}

	.menu-ajax .nav {
		margin-left: 0;
		gap: 24px;
		flex-direction: column;
		align-items: flex-start;
	}

	.menu-ajax .nav a {
		height: 22px;
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		gap: 8px;
	}

	.menu-ajax .nav a:before {
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-position: center;
		content: '';
	}

	.menu-ajax .nav a:nth-child(1):before {
		background-image: url(../images/home.svg);
	}

	.menu-ajax .nav a:nth-child(2):before {
		background-image: url(../images/p2p.svg);
	}

	.menu-ajax .nav a:nth-child(3):before {
		background-image: url(../images/support.svg);
	}

	.menu-ajax .menu {
		flex-direction: column;
		background: 0;
		border-radius: 0;
		height: auto;
		margin-left: 0;
		padding: 0;
		gap: 24px;
		margin-right: 0;
	}

	.menu-ajax .menu a {
		height: 22px;
		padding: 0;
		border-radius: 0;
		gap: 8px;
		font-weight: 500;
		font-size: 16px;
		width: max-content;
	}

	.menu-ajax .menu a svg {
		width: 20px !important;
		height: 20px !important;
	}

	.menu-ajax .menu a:hover {
		fill: var(--gray) !important;
	}

	.menu-ajax .menu-ajax_line {
		margin: 32px 0;
		height: 1px;
		background: rgba(184, 201, 255, 0.1);
		margin-left: -16px;
		margin-right: -16px;
	}

	#wrap.menu_open .menu-overlay,
	#wrap.menu_open .menu-ajax {
		display: flex !important;
	}

	#wrap.menu_open .menu-mobile:before {
		opacity: 1;
	}

	#wrap.menu_open .menu-mobile:after {
		opacity: 0;
		transform: scale(0);
	}

	.footer-nav {
		display: none;
	}

	.items-grid {
		gap: 16px;
		grid-template-columns: 1fr 1fr;
	}

	.video {
		height: 549px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.video-title {
		font-size: 40px;
		line-height: 1.15;
	}

	.video-text {
		font-size: 16px;
		margin-bottom: 200px;
	}

	.items-title {
		font-size: 32px;
	}

	.ShowMore {
		margin-top: 32px;
	}

	.items-panel {
		margin-bottom: 32px;
	}

	.footer .fixed {
		padding-top: 40px;
		padding-bottom: 32px;
		position: relative;
	}

	.footer-ico {
		position: absolute;
		top: 32px;
		right: 16px;
	}

	.footer-pole {
		width: 100%;
	}

	.video-btn {
		margin-top: 16px;
	}

	.footer-logo {
		margin-bottom: 40px;
	}

	.news-overflow {
		overflow-x: scroll;
    overflow-y: hidden;
    margin-left: -16px;
    margin-right: -16px;
    padding-bottom: 16px;
	}

	.news-overflow .news {
		padding: 0 16px;
		width: max-content;
	}

	.news-overflow::-webkit-scrollbar {
		height: 8px;
	}

	.news-overflow::-webkit-scrollbar-thumb {
		border-radius: 10px;
		box-shadow: 0 0 10px 4px rgba(75, 114, 255, 0.1);
		background: #4b72ff;
	}

	.news-overflow::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #303648;
	}

	.news-item {
		width: 80vw;
	}

	.news-images {
		height: 216px;
	}

	#modal-item[data-modal="bet"] .item-info_CENTER {
		width: calc(100% - 50px);
	}

	#modal-item[data-modal="bet"] .item-info {
		padding: 0 16px;
	}

	#modal-item {
		margin: 16px;
		min-width: 355px;
	}

	#modal-item, .S1bBet_bg {
		padding: 16px;
	}

	.container {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.title {
		font-size: 32px;
		line-height: 1.1875;
		margin-bottom: 16px;
	}

	.Profile {
		flex-direction: column;
		gap: 32px;
	}

	.Profile-panel {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
	}

	.modal-bet_Potential_winning {
		font-size: 14px;
		padding: 0 10px;
	}

	.TopUpP2P {
		flex-direction: column;
	}

	.TopUpP2P:not(.SBP) .S1bBet_bg {
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 768px) {
	.items-grid,
	.Profile-grid {
		grid-template-columns: 1fr;
	}

	.items-panel {
		flex-direction: column;
		height: auto;
		justify-content: center;
		gap: 16px;
	}
}

@media(max-width: 500px) {
	.S1bBet_list {
		grid-template-columns: 1fr;
	}
}

@media(max-width: 429px) {
	.SBP_cart {
		width: 300px;
		height: 162px;
		background-size: 100%;
	}

	.logo {
		width: 30px;
	}
}